<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sszh.server.sso.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.sszh.server.sso.api.entity.SysUserEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="ran_str" jdbcType="VARCHAR" property="ranStr" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, user_name, pass_word, ran_str, mobile_phone, email, photo_url, status
  </sql>
  
  <select id="selectSelective" parameterType="com.sszh.server.sso.api.entity.SysUserEntity" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from t_sys_user
    <where>
      <if test="account != null and account != ''">
        and account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="userName != null and userName != ''">
        and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="passWord != null and passWord != ''">
        and pass_word = #{passWord,jdbcType=VARCHAR}
      </if>
      <if test="ranStr != null and ranStr != ''">
        and ran_str = #{ranStr,jdbcType=VARCHAR}
      </if>
      <if test="mobilePhone != null and mobilePhone != ''">
        and mobile_phone = #{mobilePhone,jdbcType=VARCHAR}
      </if>
      <if test="email != null and email != ''">
        and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="photoUrl != null and photoUrl != ''">
        and photo_url = #{photoUrl,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  
  <!--登陆查询：根据账号查询用户信息-->
  <select id="queryLogin" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM t_sys_user WHERE account = #{account,jdbcType=VARCHAR}
  </select>
  
</mapper>